{% extends 'core/base.html' %}
{% block meta %}
<meta name="author" value="Joe Bloggs" />
<meta name="description" value="My website description" />
{% endblock %}
{% block title %}Acerca{% endblock %}
{% block content %}
<h1>Acerca</h1>
{% endblock %}