<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Mi blog | {% block title %}{% endblock %}</title>
  {% block meta %} {% endblock %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <nav class="nav nav-pills nav-fill">
          <a class="nav-item nav-link" href="{% url 'inicio' %}">Inicio</a>
          <a class="nav-item nav-link" href="{% url 'portafolio' %}">Portafolio</a>
          <a class="nav-item nav-link" href="{% url 'acerca' %}">Acerca</a>
          <a class="nav-item nav-link" href="{% url 'contacto' %}">Contacto</a>
        </nav>
      </div>
    </div>


  {% block headers %} {% endblock %}
  {% block content %} {% endblock %}
  {% if request.path == "/" %}
  <p>Estoy en la pagina principal </p>
  {% endif %}
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="{% static 'core/static/core/css/bootstrap.min.js' %}"></script>

</html>