{% extends 'core/base.html' %}
{% block title %} Contacto {% endblock %}
{% block headers %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Contacto</h1>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <br> Otra cosa
        </div>
    </div>
</div>
{% endblock %}