{% extends 'core/base.html' %}
{% block title %} Portafolio {% endblock %}
{% block content %}
{% for projectos in projectos %}
{% if projectos.enlaces != empty %}
<p><a href="{{projectos.enlaces}}" target="_blanck">Mas info</a></p>
{% endif %}
<h1>{{projectos.titulo}}</h1>
<p>{{projectos.descripcion}}</p>
<img src="{{projectos.image.url}}" alt="">
{% endfor %}
{% endblock %}